.container {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 100%;
  align-items: center;
  width: 60%;
}

.input,
.button {
  padding: 1em;
  border: none;
}

.input {
  min-width: 25em;
  border-top-left-radius: .75em;
  border-bottom-left-radius: .75em;
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--very-dark-grey);
  border-top-right-radius: .75em;
  border-bottom-right-radius: .75em;
}