.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  min-height: 20svh;
  padding: 1em;
  background-image: url('../assets/pattern-bg-desktop.png');
  background-size: cover;
}

.title {
  color: white;
  font-size: 2em;
}